asn1crypto==1.5.1
awscli-local==0.22.2
boto3==1.43.7
botocore==1.43.7
cachetools==7.1.1
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
cryptography==48.0.0
dnslib==0.9.26
dnspython==2.8.0
docker==7.1.0
idna==3.15
jmespath==1.1.0
localstack==2026.4.0
localstack-client==2.11
markdown-it-py==4.2.0
mdurl==0.1.2
packaging==26.2
plux==1.16.0
psutil==7.2.2
pycparser==3.0
Pygments==2.20.0
PyJWT==2.12.1
pyotp==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pywin32==311
PyYAML==6.0.3
requests==2.34.1
rich==15.0.0
s3transfer==0.17.0
semver==3.0.4
six==1.17.0
tabulate==0.10.0
urllib3==2.7.0
windows-curses==2.4.2
